<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Event Registration</h1>
    <h2>Event ID: <%=found.id%></h2>
    <h2>Event: <%=found.Event%></h2>
    <p><%=found.comment%></p>
    <a href="/events"><button>Register</button></a>
</body>
</html>