<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Events</h1>
    <section>
            <% for (let item of events){ %>
                <div>
                    <!-- <h1>ID: <%=item.id%> </h1> -->
                    <h1>Event: <%=item.Event%> </h1>
                    <h2>Description: <%=item.comment%> </h2>
                    <a href="/event/<%=item.id%>/register">Register</a>
                </div>
            <% } %>
        
    </section>
</body>
</html>